.carousel {
  position: relative;
}
 
.nav-strip {
  display: flex;
  justify-content: center;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.nav-strip + div,
.nav-strip + div .react-swipeable-view-container {
  height: 100%;
  width: 100%;
}
.carousel.top .nav-strip {
  bottom: auto;
}
.carousel.bottom .nav-strip {
  top: auto;
}
.carousel.left .nav-strip {
  right: auto;
}
.carousel.right .nav-strip {
  left: auto;
}
.carousel.top .nav-strip,
.carousel.bottom .nav-strip {
  flex-direction: row;
}
.carousel.left .nav-strip,
.carousel.right .nav-strip {
  flex-direction: column;
}
 
.react-swipeable-view-container > div {
  flex-basis: 100%;
  background: #f7f7f7;
}
 
.nav {
  text-align: center;
  cursor: pointer;
  pointer-events: all;
}
 
.carousel.top .nav,
.carousel.bottom .nav {
  padding: 12px 6px;
}
.carousel.left .nav,
.carousel.right .nav {
  padding: 6px 12px;
}
 
.nav-strip .nav-dot {
  background-color: #d2d2d2;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  display: inline-block;
}
.nav-strip .nav:hover .nav-dot {
  background-color: #b5b5b5;
}
.nav-strip .nav.active .nav-dot {
  background-color: #1e8bfb !important;
}
 
.carousel .card {
  padding: 12px;
}
 
 