.react-sanfona {
  border: 1px solid #ccc;
  border-radius: 3px;
}  
.react-sanfona-item-title {
  background-color: #fff4f4;
  border-top: 1px solid #ccc;
  color: #555;
  padding: 20px;
  text-transform: uppercase;
}  
.react-sanfona-item:first-child .react-sanfona-item-title {
  border-top: none;
}
.react-sanfona-item-expanded .react-sanfona-item-title {
  background-color: #ed5853;
  color: #fff;
}

.react-sanfona-item-body-wrapper {
  color: #555;
  padding: 20px;
  position: relative;
}