.list .list-item.list-item-tooled {
  display: flex;
}
.list .list-data {
  flex: 1 1;
  padding: 5px 0;
}
.list .list-tools {
  align-items: center;
  display: flex;
  flex: none;
}
.list .list-tools .list-tool {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
}

