/* .active {
  border-bottom-color: #6597ca;
} */

.nav-links a {
  display: inline-block;
  border-bottom: 4px solid transparent;
  padding: 6px 12px;
  text-decoration: none;
  color: #555;
}
.nav-links a.active {
  border-bottom-color: #6597ca;
}