.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html {
  height: 100%;
}
body {
  position: relative;
  height: 100%;
}

.float-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  display: none;
}
.modal {
  background-color: rgba(255, 255, 255, .6);
  pointer-events: auto;
}
.modal-msg {
  padding: 12px 24px 12px 0;
  background: #ffffff;
  border: 3px solid #61dafb;
  color: #555;
}
.modal-msg > * {
  vertical-align: middle;
}
.show {
  display: flex;
}

